<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    <script>
        var ans = {{ans}}
    </script>
</head>
<body>
    <form method="POST">
        <div>
            <h3 style="display:inline-block">Enter the parameters</h3>
            <input name="text" placeholder="Parameters">
        </div>
    </form>
    <div >
            {{ans}}
    </div><br>
    </div>
</body>
</html>